<footer>
  <div>
    <div class="text-center pt-3" >
      © 2020 Copyright:
      <a class="text-white" href="">Sardor's</a>
    </div>
    <div>
        <p>Paris</p>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-angles-up p-0"></i></button>

  </div>
  
</footer>