<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10">
      <img class="d-block w-100 img-fluid" src="https://cmsmedia.titanka.com/www.cattolicafamilyresort.it/crp1920x650-rist-5.jpg?v=1648735034.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="animated-title">
          <div class="text-top">
            <div>
              <span >SELAVI</span>
              <span>Right Place</span>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    <div class="carousel-item item-2" data-bs-interval="10">
      <img class="d-block w-100 img-fluid" src="https://www.almmonte.com/_Resources/Persistent/98522163d368432434e4a6ffc66587f47fca5d64/sensum-restaurant02-2000x822-1920x650.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <p class="carousel-item-2">MAKE YOUR BEST TIME</p>
      </div>
      
    </div>
    <div class="carousel-item" data-bs-interval="10">
      <img class="d-block w-100 img-fluid" src="https://www.hotel1620.com/resourcefiles/mainimages/dining-masthead.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <p class="carousel-item-2">ENJOY YOUR MEAL</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid">
  <div class="row mx-5">
    <div class="col-lg-6 py-4 text-left m-auto sec-c">
      
      <h1>SELAVI</h1>
      <h3>The Restorant In The Heart Of Paris</h3>
      <p >Flores est un restaurant se situant sur le Boulevard Haussmann, à seulement deux pas de la place Vendôme, des Galeries Lafayette et de l'Opéra Garnier. Que ce soit entre amis, en couple ou en famille, cette brasserie pleine de charme sera l'endroit idéal pour chaque occasion.

        Les menus sont ouverts sur le monde avec pas moins de 6 langues traduites, afin de vous recevoir dans votre langue natale et dans les meilleures conditions.
        
        Des menus vegan friendly sont également proposés pour satisfaire toutes les envies.
        
         
        
        Nous proposons également un espace de réunion pour vos petits déjeuner professionnels ou pour des privatisations.
        
        N'hésitez pas à nous contacter !</p>
    </div>
    <div class="col-lg-6 py-4">
      <img class="img-fluid" src="/tower.webp" alt="">
    </div>
  </div>
</div>
<div class="container-over-offer pt-4">
    <div class="parallax">
      <h1 class="paralax-p pt-5">We serve brunch every sunday between 10.00-14.00</h1>
    </div>
</div>
<div class="offers pt-4">
  <div>
  <h2>SPECIAL OFFERS</h2>
  <h6>Do not miss oportunities !!!</h6>
  <div class="container-fluid">
    <div class="row mx-5">
      <div class="col-lg-6 div-offers pt-2">
        <img class="img-fluid" src="./chicken.png" alt="">
        <p class="text-left pl-3"><b>Every Friday / A glass of beer or wine with Fish and Chips is 25$!</b></p>
      </div>
      <div class="col-lg-6 div-offers pt-2">
        <img class="img-fluid" src="./breakfast.png" alt="">
        <p class="text-left pl-3"><b>Every Sunday / Participate in Yummy Brunch! 35$</b></p>
      </div>
    </div>
  </div>
</div>
</div>
