<div class="container-fluid info-box-l text-left">
  <div class="row mx-5 info-box">
    <div class="col-lg-4 col-md-12 p-5">
      <h2>About Us</h2>
      <label class="d-inline">Flores est un restaurant se situant sur le Boulevard Haussmann, à seulement deux pas de la place Vendôme, des Galeries Lafayette et de l'Opéra Garnier</label>
      <a href="/about" class="">More</a>
      <div class="pt-2">
      <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook text-left"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram text-left"></i></a>
    </div>
    </div>
    <div class="col-lg-4 col-md-12 p-5">
      <h2>Newsletter</h2>
      <form action="pasta" method="POST">
        <label for="InputEmail1" class="form-label">Sign up for our e-newsletter list for special offers and special offers</label>
        <input type="email" class="form-control " placeholder="Enter your email" id="InputEmail1" aria-describedby="emailHelp">
        <button type="submit" class="btn btn-primary mt-2">SAVE</button>
      </form>
    </div>
    <div class="col-lg-4 col-md-12 p-5">
      <h2>Contact</h2>
      <label><i class="fa-solid fa-house-chimney"></i> Champ de Mars, 5 Av. Anatole France, 75007 Paris, France</label>
      <label><i class="fa-solid fa-clock"></i> 08.00-23.00 </label><br>
      <label><i class="fa-solid fa-envelope"></i>info@selavi.com</label><br>
      <label><i class="fa-solid fa-phone"></i><a href="tel:1234567">123-45-67</a></label>
      
    </div>
  </div>
</div>