<%- include("partials/header"); -%>
<div class="container-fluid about-box" >
  <div class="row mx-5">
    <div class="col-lg-6 py-4 text-left m-auto sec-c">
      
      <h1>SELAVI</h1>
      <h3>The Restorant In The Heart Of Paris</h3>
      <p >Flores est un restaurant se situant sur le Boulevard Haussmann, à seulement deux pas de la place Vendôme, des Galeries Lafayette et de l'Opéra Garnier. Que ce soit entre amis, en couple ou en famille, cette brasserie pleine de charme sera l'endroit idéal pour chaque occasion.

        Les menus sont ouverts sur le monde avec pas moins de 6 langues traduites, afin de vous recevoir dans votre langue natale et dans les meilleures conditions.
        
        Des menus vegan friendly sont également proposés pour satisfaire toutes les envies.
        
         
        
        Nous proposons également un espace de réunion pour vos petits déjeuner professionnels ou pour des privatisations.
        
        N'hésitez pas à nous contacter !</p>
    </div>
    <div class="col-lg-6 py-4">
      <img class="img-fluid" src="/tower.webp" alt="">
    </div>
  </div>
</div>
<%- include("partials/info-box"); -%>
<%- include("partials/footer"); -%>