<%- include("partials/header"); -%>

<div class="form-contact-div row d-flex justify-content-center">
  <div class="m-5 "><img id="image-form-contact" src="email-received.png" alt=""></div>
  <div class="m-5 align-self-center"><p id="form-contact-text"> Thank's <b><%= name %></b> As soon as possible we will contact with you </p></div>
</div>

<%- include("partials/info-box"); -%>
<%- include("partials/footer"); -%>